name: defiwifi
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.3
  flutter_bloc: ^8.0.1
  flutter_map: ^4.0.0
  latlong2: ^0.8.2
  url_launcher: ^6.3.1
  geolocator: ^11.0.0
  cloud_firestore: ^5.6.6


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
